doctype 5
html(lang="en")
    head
        title BitStupid | Create
    body
        h1 Design a new bit

        form(action="images", method="post", enctype="multipart/form-data")
            p Image 0 (shown when the bit is 0, off, false, or "No", etc.)
                if images[0]
                    img(src="images/" + images[0])
                input(type="file", name="image0")
            p image 1 (shown when the bit is 1, on, true, or "Yes", etc.)
                if images[1]
                    img(src="images/" + images[1])
                input(type="file", name="image1")
            p
                input(type="submit", name="upload", value="Upload images")