doctype 5
html(lang="en")
    head
        title Togglz
    body
        h1 Jade - node template engine
        = age
        #container.col
            p.
              Jade is a terse and simple
              templating language with a
              strong focus on performance
              and powerful features.